version: '3.8'
services:
  postgres:
    image: postgres:17.2
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: ai_psycholog
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ai_psycholog

volumes:
  postgres_data:


networks:
  ai_psycholog:
